<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/userView.css">
  <link rel="stylesheet" href="../css/secret.css">
</head>

<body>

  <div class="topnav" id="myTopnav">
    <!-- <a href="/pms/viewall">All</a> -->
    <a href="/pms/secret" class="active">Secret</a>
    <a href="/pms/paymentsecret">Payment Secret</a>
    <a href="/pms/settings">Settings</a>
    <a style="float: right;" href="/pms/logout">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <div id="addNew"><input type="button" onclick="openForm()" value="Add Secret"></div>
  <div class="container" id="container">
    <form action="/pms/secretPost" id="myform" onsubmit="event.preventDefault(); return validateMyForm();"
      method="POST">
      <div class="row">
        <div class="col-25">
          <label for="fname">Title</label>
        </div>
        <div class="col-75">
          <input type="text" id="title" name="title" placeholder="Your title">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Login</label>
        </div>
        <div class="col-75">
          <input type="text" id="login" name="login" placeholder="Your username/email">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Password</label>
        </div>
        <div class="col-75">
          <input type="text" id="password" name="password" placeholder="Your password">
          <div class="generatepassword"><i class="fa fa-key"></i><input type="button" id="generatingPassword"
              value="Generate Password"></input></div>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Website Address</label>
        </div>
        <div class="col-75">
          <input type="text" id="websiteAddress" name="websiteAddress" placeholder="http://">
        </div>
      </div>

      <div class="row row-submit">
        <input type="submit" value="Submit" id="submitForm">
        <input type="button" id="close" value="Close" onclick="closeForm()">
      </div>
    </form>
  </div>
  <!-- <div class="content-secret">Secrets</div> -->
  <div class="container" id="container1">
    <div class="last-modified"><span>Last Modified: </span><input type="text" name="last-modified" id="lastModified"
        value="" disabled></div>
    <form method="POST" id="myformUpdateDelete" onsubmit="event.preventDefault(); return updateMyForm();">
      <div class="row" style="display: none;">
        <div class="col-25">
          <label for="fname">Secret ID</label>
        </div>
        <div class="col-75">
          <input type="text" id="updateSid" name="sid" placeholder="Your Sid" value="">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">Title</label>
        </div>
        <div class="col-75">
          <input type="text" id="updatetitle" onkeyup="success()" name="title" placeholder="Your title" value="">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Login</label>
        </div>
        <div class="col-75">
          <input type="text" id="updatelogin" onkeyup="success()" name="login" placeholder="Your username/email"
            value="">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Password</label>
        </div>
        <div class="col-75">
          <input type="text" id="updatepassword" onkeyup="success()" name="password" placeholder="Your password"
            value="">
          <div class="generatepassword"><i class="fa fa-key"></i><input type="button" id="generateUpdatePassword"
              value="Generate Password"></input></div>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Website Address</label>
        </div>
        <div class="col-75">
          <input type="text" id="updatewebsiteAddress" onkeyup="success()" name="websiteAddress" placeholder="http://"
            value="">
        </div>
      </div>

      <div class="row row-submit">
        <input type="submit" id="update" value="Update" style="display: none;">
        <input type="submit" id="delete" value="Delete">
        <input type="button" id="close" value="Close" onclick="closeUpdateForm()">
      </div>
    </form>
  </div>
  <br>
  <table id="table">
    <tr>
      <th style="text-align: center;">Title</th>
      <th style="text-align: center;">Action</th>
    </tr>
    <% if (secrets.length> 0) {
      for (let secret = 0; secret < secrets.length; secret++) { %>
        <tr>
          <td style="text-align: center;"><%= secrets[secret].title %></td>
          <td style="text-align: center; display: none;"><%= secrets[secret].login %></td>
          <td style="text-align: center; display: none;"><%= secrets[secret].password%></td>
          <td style="text-align: center; display: none;"><%= secrets[secret].website_address%></td>
          <td style="text-align: center; display: none;"><%= secrets[secret].s_id %></td>
          <td style="text-align: center; display: none;"><%= secrets[secret].last_modified %></td>
          <td style="text-align: center;">
            <div id="addNew1"><input type="button" onclick="topFunction()" value="View" style="margin-right: 10px">
            </div>
          </td>
        </tr>
        <% } } else { %>
          <tr>
            <td colspan="3" style="text-align: center;">No records Found</td>
          </tr>
          <% } %>
  </table>
  <script src="../js/secretUpdate.js"></script>
  <script src="../js/secret.js"></script>
  <script src="../js/secretView.js"></script>
  <script src="../js/secretUpdateDelete.js"></script>

</body>

</html>